.discover {

    p {
        color: $main-color;
    }

    .imgDiscover {
        height: 450px;
        width: 300px;
        box-shadow: -15px 12px 3px 1px $secondary-color;
    }

    h2 {
        font-weight: 800;
        font-size: 60px;
        color: $main-color;
    }

    h2:nth-child(1) {
        margin-left: 50px;
    }

    .button {
        color: $third-color;
    }

}

.largeImg {
    width: 100vw;
    height: 550px!important;
    object-fit: cover !important;
}

.image-container {
    position: relative;
}

.largeImg {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.text-container {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 20px;
    background-color: $background-color;
    color: $main-color;
    z-index: 1;
    width: 700px;
    height: 250px;

    .button {
        color: $third-color;
    }
}

.text1,
.text2 {
    font-size: 60px;
    font-weight: 700;
    color: $main-color;
    position: relative;
    margin-left: 50px;
    top: -50px;
    z-index: 2;
}