.titleBeer {
    color: $secondary-color !important;
    margin-top: 250px;
    background-color: $main-color;

    h2 {
        letter-spacing: 1px;
        text-transform: uppercase;
        margin-top: 0;
        margin-bottom: 0;
        font-size: 160px;
        font-weight: 900;
        line-height: .95;
    }

    h3 {
        letter-spacing: 1px;
        text-transform: uppercase;
        margin-top: 0;
        margin-bottom: 0;
        font-size: 44px;
        font-weight: 900;
        line-height: 1.05;
    }

}
.container-fluid {
    background-color: $main-color;
    color: $background-color;
     .beerCorona {
        height: 800px;
        width: 200px;
        margin-right: 50px;
    }
    
     .flag, .beer {
        width: 30px;
        height: 30px;
    }
    
    .textCorona p{
        margin-top: 150px !important;
        color: $background-color !important;
        margin-right: 70px;
    }

    .textCorona div {
        color: $background-color;
    }
}


.selection {

    h3 {
        letter-spacing: 1px;
        text-transform: uppercase;
        margin-top: 0;
        margin-bottom: 0;
        font-size: 44px;
        font-weight: 900;
        line-height: 1.05;
        color: $secondary-color;
    }
    
    .card{
        border:none !important;
        border-radius: 20px!important;
        transition: 0.6s;
    
        .card-img-top {
            height: 400px;
            width: 100px;
        }
    
        h5 {
            color: $secondary-color;
            font-weight: 800;
            font-size: 25px;
        }
    
        h6 {
            font-weight: 800;
            color: $background-color;
            font-size: 20px;
        }
    
        p{
            font-size: 20px;
            font-weight: 500;
            color: $background-color;
        }
    
        .card-button{
            opacity: 0;
            transition: opacity 0.6s ease-in;
        }
        .buy {
    
            height: 10px;
            color: $background-color;
            letter-spacing: .6px;
            text-transform: uppercase;
            white-space: nowrap;
            background-color: $secondary-color;
            border: 1px solid rgba(37,13,6,0);
            border-radius: 100px;
            flex: none;
            justify-content: center;
            align-items: center;
            margin-top: 0;
            margin-left: 0;
            margin-right: 0;
            padding: 24px 32px;
            font-size: 18px;
            font-weight: 700;
            text-decoration: none;
            display: flex;
            width: 140px;
            cursor: pointer;
            transition: 0.6s;
    
            & i{
                font-weight: 800 !important;
                font-size: 25px;
            }
        }
    
    }

}

.buy:hover {
        background-color: white;
        opacity: 0.7;
}

.card:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    .card-button{
        opacity: 1;
        
    }
}