body {
    background-color: $background-color !important;
    color: $main-color;
}


.imgHome {
    height: 1300px;
    width: 100vw;
    object-fit: cover;
}
section {
    width: 100%;
    height: 100vh;
}

