@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');


body {
    background-color: $background-color !important;
    color: $main-color;
}

.imgHome {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: relative;

      .imgHome::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); /* Couleur d'arrière-plan semi-transparente */
        z-index: 1;
      }
      

}
.logoOverlay {
    position: absolute;
    top: 50%;
    left: 50%;
    // 
}
.textOverlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-70%, -30%);
    color: $main-color;
    z-index: 2;
    font-family: 'Oswald';

    .store {
        height: 68px;
        color: $background-color;
        // color: #f3d147;
        letter-spacing: .6px;
        text-transform: uppercase;
        white-space: nowrap;
        background-color: $third-color;
        border: 1px solid rgba(37,13,6,0);
        border-radius: 100px;
        flex: none;
        justify-content: center;
        align-items: center;
        margin-top: 0;
        margin-left: 0;
        margin-right: 0;
        padding: 24px 32px;
        font-size: 18px;
        font-weight: 700;
        text-decoration: none;
        transition: box-shadow .2s,border-radius .2s,border-color .2s,color .2s;
        display: flex;
        width: 140px;
        transition: 1s;
        cursor: pointer;
    }

    .store:hover {
        background-color: white;
        opacity: 0.2;

    }
    
    h1 {
        font-size: 88px;
        text-transform: uppercase;
    }
    p {
        
        font-size: 50px;
        font-weight: 100;
        text-transform: uppercase;
    }
    
}
  
// .textOverlay p {
//     font-size: 16px;
//     margin-bottom: 0;
//   }

section {
    width: 100%;
    height: 100vh;
}

//
.circle {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    .imgCircle {
        position: absolute;
        height: 150px;
        width: 150px;
        object-fit: cover;
        border-radius: 50%;
        cursor: pointer;
    }

    .textCircle {
        position: absolute;
        width: 100%;
        height: 100%;
        animation: rotateText 10s linear infinite;
    }

    .textCircle span {
        position: absolute;
        left: 50%;
        font-size: 1.2em;
        transform-origin: 0 100px;
    }
}
 @keyframes rotateText {
    0%
    {
        transform: rotate(360deg);
    }
    100%
    {
        transform: rotate(0deg);
    }
 }