.productShop {
    background-color: $main-color !important;
    height: auto !important;

    h3 {
        font-weight: 800;
        color: $background-color;
        font-size: 60px;
    }
}

.reveal {
    /* position: relative; */
    transform: translateY(150px);
    opacity: 0;
    transition: all 2s ease;
}


.reveal.active {
    transform: translateY(0px);
    opacity: 1;
    transition: all 2s ease;
}

@media (max-width: 990px) {
    #sticky-section {
        visibility: hidden !important;
        height: 0 !important;
    }
}